.vs/
.idea/
bin/
obj/
build/
out/
*.user
*.suo
*.VC.db
*.opensdf
*.log
*.dmp
*.zip
*.nupkg
releases/package/
releases/*.exe
releases/*.zip
overlay/out/
overlay/build/
launcher/**/bin/
launcher/**/obj/

